@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-archivo);
  --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.underline-scroll::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease;
  margin-top: 1px;
}

.underline-scroll:hover::after {
  width: 100%;
}
